body {
    background: rgba(31, 38, 42, 0.85);
}

.icon {
    width: 30px;
    height: auto;
}

/* TOP BAR */

.top-bar {
    padding: 1.2rem 0;
    position: sticky;
    left: 0; right: 0; top: 0;
    background: linear-gradient(103.27deg, #FC6076 -29.57%, #FF9A44 129.19%);
    border-radius: 0px 0px 40px 40px;
}

.main-top-bar {
    display: flex;
    justify-content: space-between;
}

.main-top-bar .icon {
    margin: 0 2rem;
}

.top-bar h1 {
    display: inline-block;
    color: #000;
    width: 100%;
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    margin-top: .1rem;
}

.home-top-bar .icon {
    position: absolute;
    right: 2rem;
}

/* QUIZZ THUMBNAILS */

.quizzThumbnails {
    margin: 1.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

/* .quizzThumbnail-border {
    background-image: linear-gradient(103.27deg, #FC6076 -29.57%, #FF9A44 129.19%);
    padding: 2px;
} */

.quizzThumbnail-border {
    background-image: linear-gradient(103.27deg, #FC6076 -29.57%, #FF9A44 129.19%);
    padding: 2px;
    border-radius: 15px;
}

.quizzThumbnail {
    background: #111;
    padding: 1rem;
    border-radius: 15px;
    color: #fff;
    position: relative;
}

.quizzThumbnail-overlay {
    position: absolute;
    top: 0;right:0;bottom:0;left:0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.quizzThumbnail-content {
    z-index: 1;
    font-weight: bold;
    position: relative;
}

.quizzThumbnail-name {
    font-size: 1rem;
}

.quizz-rating {
    margin-top: .5rem;
    display: flex;
}

.rating-elt {
    width: 15px;
    height: 15px;
    border-radius: 50% 50%;
    background: #999;
    margin-left: .3rem;
}

.rating-elt.active {
    background: #FD6151;
}

.rating-elt:first-child {
    margin-left: 0;
}

.quizzThumbnail-creator {
    margin-top: 6rem;
    text-align: right;
}

/* BOT BAR */
.bot-bar {
    position: fixed;
    bottom: 0;
    left: 1rem;
    right: 1rem;

    background: rgba(31, 38, 42, 0.85);
    border-radius: 40px 40px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding:.5rem 6rem 0 6rem;
}

.control-btn {
    position: relative;
    top: -2rem;
    background: linear-gradient(103.27deg, #FC6076 -29.57%, #FF9A44 129.19%);
    border-radius: 50% 50%;
    padding: 1rem 1.2rem;
}

.quizz-wrapper.launched .bot-bar {
    justify-content: center;
}

.quizz-wrapper.launched .bot-bar .control-btn {
    border-radius: 100px;
    font-weight: bold;
}

.control-btn-icon {
    height: 20px;
    width: 20px;
}

/* Quizz before launch */

.quizz-header {
    position: relative;
    overflow: hidden;
    border: 2px solid #FF9A44;
    border-top: none;
    border-radius: 0 0 15px 15px;
}

.quizz-header-img {
    position: absolute;
    top:0;right:0;bottom:0;left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.quizz-header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.quizz-header-content .icon {
    margin: 3rem 0;
    width: 50px;
    height: auto;
}

.quizz-header-content .icon:hover {
    cursor: pointer;
}

.quizz-header-bottom {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.quizz-header-bottom .quizz-rating {
    margin: 0;
}

.quizz-header-bottom .quizz-rating .rating-elt {
    width: 20px;
    height: 20px;
}

.quizz-score {
    font-weight: bold;
    font-size: 1.1rem
}

.quizz-info {
    text-align: center;
    color: #fff;
    margin: 0 2rem;
}

.quizz-name {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-weight: normal;
}

.quizz-author {
    font-size: 1rem;
}

.quizz-leaderboard {
    margin-top: 2rem;
}

.quizz-leader {
    margin: .5rem 2rem;
    background: #2B3135;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}

.quizz-leader:first-child {
    margin-top: 0;
}

.quizz-leader span {
    font-weight: bold;
    color: #fff;
    padding: .5rem;
    margin: auto;
}

.quizz-leader .quizz-leader-place {
    margin-left: 0;
    border-radius: 15px 0 0 15px;
    background: #fff;
    color: #222;
    font-weight: normal;
}

.quizz-leader .quizz-leader-name {
    text-align: center;
    align-self: center;
    margin: 0;
}

.quizz-leader .quizz-leader-score {
    display: inline-block;
    margin-right: 0;
}

/* Quizz launched */

.quizz {
    color: #fff;
    text-align: center;
    padding: 2rem;
}

.quizz-question-number {
    padding-bottom: .6rem;
    border-bottom: 2px solid rgb(31, 38, 42);
}

.quizz-question-number span {
    font-weight: bold;
}

.quizz-question-sentence {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: normal;
}

.quizz-answers {
    list-style: none;
    padding: 0;
}

.quizz-answers li {
    margin-top: 1rem;
    background: rgba(31, 38, 42, 0.75);
    border-radius: 15px;
    padding: 1rem;
}

.quizz-answers li.selected {
    background: linear-gradient(180deg, #FC6076 -22.07%, #FF9A44 126.68%);
}

.quizz-answers li:first-child {
    margin-top: 0;
}

/* Quizz Finished */

.quizz-end-wrapper .quizz-header {
    overflow: visible;
}

.quizz-end-wrapper .quizz-header > div:first-child {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    overflow: hidden;
}

.quizz-end-wrapper .quizz-header-img {
    border-radius: 0 0 15px 15px;
}

.quizz-end-header-content {
    text-align: center;
    font-size: 1.2rem;
    margin: 3rem 0 0 0;
    color: #fff;
}

.quizz-end-score div {
    margin-top: .3rem;
    font-size: 2.2rem;
    font-weight: bold;
}

.quizz-end-header-bottom {
    background: #484E51;
}

.quizz-end-header-btns {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -2rem;
}

.quizz-end-header-btn a {
    display: block;
}

.quizz-end-header-btn {
    margin-left: 1rem;
    background: #1F262A;
    padding: .8rem 2rem;
    border-radius: 15px;
    border: 2px solid #FC6076;
}

.quizz-end-header-btn img {
    width: 25px;
    height: auto;
}

.quizz-end-header-btns a:first-child {
    margin-left: 0;
}

.quizz-end-wrapper .quizz-name {
    margin-top: 3rem;
}

.quizz-end-rate {
    padding: 1rem;
    border-radius: 15px;
    background: #1F262A;
    margin:  2rem;
    color: #fff;
    text-align: center;
}

/* NEW QUIZZ FORM */

.newQuizzForm {
    width: 90%;
    margin: auto;
}

.newQuizzForm h1 {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

.quizzInfoForm {
    color:#FD6151;
    margin: auto;
    width: 100%;
}

.quizzInfoForm > * {
    width: 100%;
    padding: 1rem .5rem;
    background-color: #1F262A;
    border-radius: 15px;
    margin-bottom: 12px;
    border: 0;
    color: #fff;
}

.newQuizzForm .top-bar h1 {
    display: inline-block;
    color: #000;
    width: 100%;
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    margin-top: .1rem;
}

.quizzCategory {
    color:#FD6151;
    padding: .5rem;
}

.newQuizzForm .bot-bar .control-btn  {
    border-radius: 100px;
    margin: auto;
}

.newQuizzForm .choose-questionType {
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 3rem;
}

.questionType-blocks {
    display: flex;
    margin-top: 3rem;
}

.newQuizzForm .questionType-block {
    padding: 1rem;
    background: rgba(31, 38, 42, 0.85);
    margin-left: 1rem;
    border-radius: 15px;
    font-size: 1.2rem;
    cursor: pointer;
}

.newQuizzForm .questionType-block img {
    margin-top: 1rem;
    width: 30px;
    height: auto;
}

.newQuizzForm .questionType-block:first-child {
    margin-left: 0.
}

.newQuizzForm-info {
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2rem 0;
}

.newQuizzForm-answer-container {
    display: flex;
    align-items: center;
}

.newQuizzForm-answer {
    background: rgba(31, 38, 42, 0.85);
    border-radius: 15px;
    border: 2px solid #FF9A44;
    padding: 0.5rem 0.8rem;
    color: #fff;
}

.newQuizzForm-answer:focus {
    outline-width: 0;
}

.newQuizzForm input[type="checkbox"] {
    -webkit-appearance: none;
    border-radius: 50% 50%;
    border: 2px solid #FF9A44;
    padding: .5rem;
    width:2rem;
    height:2rem;
    background: rgba(31, 38, 42, 0.85);
}

.newQuizzForm input[type="checkbox"]:checked {
    background: #FF9A44;
}
